.page-left-weather-forecast-day-wrapper {
	width: 135px;
	display: inline-table;
	text-align: center;
	padding: 5px;
}

.page-left-weather-forecast-day-wrapper p {
	font-size: 11px;
	margin-top: 5px;
}